//Styles the page that displays company services
// .services-page-main {
//   .col-sm-12 {
//     padding: 0;
//   }
  .services-page {
    background-color: $white_blue;
    .parallax {
      height: 350px;
    }
    .parallax--parallax1 .parallax__bg {
      background: url('../images/websites.jpg');
    }
    .parallax--parallax2 .parallax__bg  {
      background: url('../images/computer&mobile.jpg');
    }
    .parallax--parallax3 .parallax__bg  {
      background: url('../images/smartphone.jpg');
    }
    .parallax__content h2 {
      // background-color: rgba(0,0,0,0.4);
      padding: 20px;
      margin-bottom: 0;
    }
    .bullets-container {
      width: 100%;
      height: 20px;
      top: 0;

      ul {
        li {
          display: inline-block;
        }
      }
    }
    /* Style the tab buttons */
    #service-tabs {
      position: absolute;
      top: 0;
      z-index: 3;
      width: 100%;
      &.fixed {
        position: fixed;
        top: 0;
        z-index: 3;
        width: 100%;

        .tab-header {
          padding-top: 0;
        }

        .tab-header ul li .tablink {
          padding: 5px 16px;
          // padding: 10% 18%;
        }

        li:not(.active) .tablink {
          background-color: rgba(20, 26, 51, 0.8);
        }
      }
      &.floating-block-active {
        .tab-header {
          padding-top: 0;
        }
      }
      .tab-header {
        border-radius: 4px;
        overflow: hidden;
        padding: 10px 18px 30px 18px;
        // width: 95%;
        width: 100%;

        ul {
          padding: 0;
          margin: 0;
          li {
            // overflow: hidden;
            display: inline-block;
            width: 33%;
            float: left;
            // h3 {
            //   margin: 0;
            //   overflow: hidden;
              .tablink {
                text-align: center;
                padding: 35px 16px;
                width: 100%;
                height: 100%;
                display: inline-block;
                float: left;
                text-decoration: none;
                color: white;
                background-color: $navbar_color;
                -webkit-box-shadow: rgba(0, 0, 0, 0.8) 2px 3px 15px;
                -moz-box-shadow: rgba(0, 0, 0, 0.8) 2px 3px 15px;
                box-shadow: rgba(0, 0, 0, 0.8) 2px 3px 15px;
                font-size: 22px;
                font-family: $font;
                // font-weight: bold;
                transition: 0.2s ease-in-out;
                -webkit-transition: 0.2s ease-in-out;
                -moz-transition: 0.2s ease-in-out;
                -ms-transition: 0.2s ease-in-out;
                -o-transition: 0.2s ease-in-out;

                h1 {
                  margin: 0;
                  font-size: inherit;
                  line-height: inherit;
                  font-weight: inherit;
                }
              }
              
              &:first-child .tablink {
                -webkit-border-radius: 4px 0 0 4px;
                -moz-border-radius: 4px 0 0 4px;
                border-radius: 4px 0 0 4px;
              }
              &:last-child .tablink {
                -webkit-border-radius: 0 4px 4px 0;
                -moz-border-radius:  0 4px 4px 0;
                border-radius: 0 4px 4px 0;
              }

              &.active .tablink, a.tablink:hover {
                // text-shadow: 1px 1px 2px #585f7f;
                // transform: scale(1.05);
                // -webkit-transform: scale(1.05);
                // -moz-transform: scale(1.05);
                // -ms-transform: scale(1.05);
                // -o-transform: scale(1.05);
                color: $white_blue;
                transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                -o-transform: scale(1.05);
                text-shadow: 1px 1px 2px #0d111f, 2px 2px 2px #0d111f, 3px 3px 2px #0d111f, 4px 4px 2px #0d111f;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                font-weight: bold;
                cursor: pointer;
              }
            // }
          }
        }
      }
    }
  .tab-body {
    display: none;
  } 
    /* Set default styles for tab content */
    .tabcontent {
      background-color: $white_blue;
      // display: none;
      letter-spacing: 0.7px;
      font-size: 16px;
      color: $text_dark;
      // background-color: black;
      text-align: justify;
      padding: 120px 75px 30px 75px;
      -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.8);
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.8);

      &#services {
        padding: 30px 75px;
        margin-top: 110px;

        .service {
          width: 33%;
          display: inline-block;
          padding: 20px;
          vertical-align: top;
          text-align: left;
        }
      }

      &#work {
        padding: 30px 75px;

        .stage {
          width: 48%;
          display: inline-block;
          padding: 20px;
          vertical-align: top;
          text-align: left;

          &:first-child {
            float: left;
          }
        }
      }  

      &#tools {
        padding: 30px 75px;

        .tool {
          width: 33%;
          display: inline-block;
          padding: 20px;
          vertical-align: top;
          text-align: left;

          &.drupal-tool {
            h3 {
              display: block;
              position: relative;
              &:after {
                content: '';
                background: url(../images/logos/Drupal_logo.png);
                width: 20%;
                height: 150%;
                display: inline-block;
                position: absolute;
                right: 5%;
                top: -5px;
                background-size: 100%;
                background-repeat: no-repeat;
              }
            }
          }
          &.java-tool {
            h3 {
              display: block;
              position: relative;
              &:after {
                content: '';
                background: url('../images/logos/java_ee.png');
                width: 20%;
                height: 150%;
                display: inline-block;
                position: absolute;
                right: 5%;
                top: -5px;
                background-size: 100%;
                background-repeat: no-repeat;
              }
            }
          }
          &.mean-tool {
            h3 {
              display: block;
              position: relative;
              &:after {
                content: '';
                background: url('../images/logos/mean.png');
                width: 20%;
                height: 77%;
                display: inline-block;
                position: absolute;
                right: 8%;
                top: -1px;
                background-size: 100%;
                background-repeat: no-repeat;
              }
            }
          }
          &.ionic-tool {
            h3 {
              display: block;
              position: relative;
              &:after {
                content: '';
                background: url('../images/logos/ionic-logo.png');
                width: 33%;
                height: 190%;
                display: inline-block;
                position: absolute;
                right: 5%;
                top: -5px;
                background-size: contain;
                background-repeat: no-repeat;
              }
            }
          }
        }
      } 

        // &:nth-child(odd) {
        //   background-color: $footer_above_color; 
        // }
        // &:nth-child(even) {
        //   background-color: $gold; 
        // }

        // &:first-child {
        //   padding-top: 0;
        // }

        // &.active-section {
        //   margin-top: 10%;
        // }
    }

  }
// }