//Styles the page that displays company services
// .services-page-main {
//   .col-sm-12 {
//     padding: 0;
//   }
  .services-page {
    .bullets-container {
      width: 100%;
      height: 20px;
      top: 0;

      ul {
        li {
          display: inline-block;
        }
      }
    }
    /* Style the tab buttons */
    #service-tabs {
      &.fixed {
        position: fixed;
        top: 0;
        // width: 100%;

        .tab-header {
          padding-top: 0;
        }

        .tab-header ul li .tablink {
          padding: 20px 16px;
        }

        li:not(.active) .tablink {
          background-color: rgba(44, 56, 102, 0.88);
        }
      }
      &.floating-block-active {
        .tab-header {
          padding-top: 0;
        }
      }
      .tab-header {
        border-radius: 4px;
        overflow: hidden;
        padding: 10px 18px 30px 18px;
        width: 95%;

        ul {
          padding: 0;
          margin: 0;
          li {
            // overflow: hidden;
            display: inline-block;
            width: 33%;
            float: left;
            // h3 {
            //   margin: 0;
            //   overflow: hidden;
              .tablink {
                text-align: center;
                padding: 35px 16px;
                font-size: 17px;
                width: 100%;
                height: 100%;
                display: inline-block;
                float: left;
                text-decoration: none;
                color: white;
                background-color: $navbar_color;
                -webkit-box-shadow: rgba(0, 0, 0, 0.8) 2px 3px 15px;
                -moz-box-shadow: rgba(0, 0, 0, 0.8) 2px 3px 15px;
                box-shadow: rgba(0, 0, 0, 0.8) 2px 3px 15px;
                font-size: 22px;
                font-family: $font;
                // font-weight: bold;
                transition: 0.2s ease-in-out;
                -webkit-transition: 0.2s ease-in-out;
                -moz-transition: 0.2s ease-in-out;
                -ms-transition: 0.2s ease-in-out;
                -o-transition: 0.2s ease-in-out;
              }
              
              &:first-child .tablink {
                -webkit-border-radius: 4px 0 0 4px;
                -moz-border-radius: 4px 0 0 4px;
                border-radius: 4px 0 0 4px;
              }
              &:last-child .tablink {
                -webkit-border-radius: 0 4px 4px 0;
                -moz-border-radius:  0 4px 4px 0;
                border-radius: 0 4px 4px 0;
              }

              &.active .tablink, a.tablink:hover {
                // text-shadow: 1px 1px 2px #585f7f;
                // transform: scale(1.05);
                // -webkit-transform: scale(1.05);
                // -moz-transform: scale(1.05);
                // -ms-transform: scale(1.05);
                // -o-transform: scale(1.05);
                color: $white_blue;
                transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                -o-transform: scale(1.05);
                text-shadow: 1px 1px 2px #0d111f, 2px 2px 2px #0d111f, 3px 3px 2px #0d111f, 4px 4px 2px #0d111f;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                font-weight: bold;
                cursor: pointer;
              }
            // }
          }
        }
      }
    }
  .tab-body {
    display: none;
  } 
    /* Set default styles for tab content */
    .tabcontent {
        // display: none;
        letter-spacing: 0.7px;
        font-size: 16px;
        color: black;
        // background-color: black;
        text-align: justify;
        padding: 75px;
        -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.8);
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.8);
        // &:nth-child(odd) {
        //   background-color: $footer_above_color; 
        // }
        // &:nth-child(even) {
        //   background-color: $gold; 
        // }

        // &:first-child {
        //   padding-top: 0;
        // }

        // &.active-section {
        //   margin-top: 10%;
        // }
    }

  }
// }